@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: #1d1d1d;
    background: #fff;
    min-height: 100dvh;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    min-height: 100dvh;
  }

  *,
  *::before,
  *::after {
    -webkit-tap-highlight-color: transparent;
  }
}
